<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="log_out">
        <a href="/logout">Log Out</a>
    </div>
    <h1>Success! Welcome, {{first_name}}!</h1>
    <p>Successfully logged in!</p>

    <h1>Your Trips</h1>
    <table>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Plan</th>
            <th>Actions</th>
        </tr>
        {% for trips in alltrips %}
        <tr>
            <td>{{trips.destination}}</td>
            <td>{{trips.startdate}}</td>
            <td>{{trips.enddate}}</td>
            <td>{{trips.plan}}</td>
            <td><a href="/trips/{{trips.id}}">View</a> | <a href="/trips/{{trips.id}}/edit">Edit</a> | <a href="/trips/{{trips.id}}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <h1>Create A New Trip!</h1>
    <form action="/trips/new/add" method="post">
        {% csrf_token %}
        <p>Destination</p>
        <input type="text" name="destination" id="destination">
        <p>Start Date</p>
        <input type="date" name="startdate" id="startdate">
        <p>End Date</p>
        <input type="date" name="enddate" id="enddate">
        <p>Plan</p>
        <input type="textare" name="plan" id="plan">
        <button type="submit" class="btn btn-primary">Create</button>        
    </form>
</body>
</html>